include ../components/watch/watch
block variables
	- const info = [{img: "@images/svg/pizza/svg/001-pizza.svg", text: "more info", color: true}];
	- const ingredients_pizza = [{img: "product-1-600x500.png",text: "vegetables"},{img: "product-2-600x500.png",text: "vegetables"},{img: "product-3-600x500.png",text: "vegetables"},{img: "product-4-600x500.png",text: "vegetables"},{img: "product-5-600x500.png",text: "vegetables"}];

	- const attributes = {};
	- attributes.main = 'main';
	- attributes.pizza = 'pizza';
	- attributes.panel = 'panel';
	- attributes.ingredients = 'ingredients';
	
block content
div(class=`${attributes.main}__aside col-lg-1`)
	div(class=`${attributes.main}__logo`)
		include ../components/left-sidebar/left-sidebar
div(class=`${attributes.main}__contents`)
	.header__content
		include ../components/menu/menu
			ul.header__menu.menu
				each itemMenu in menu
					li.l-header__menu-item
						a.l-header__menu-link.gray__link-color(href=itemMenu.link) #{itemMenu.text}
	div(class=`${attributes.panel}__ingredients`)
		.header__content
			span pizzas
			div(class=`${attributes.ingredients}__button`)
				button ingredients
			div(class=`${attributes.ingredients}__elements`)
					ul.header__menu.ingredients_pizza
						each itemIng in ingredients_pizza
							li.ingredients__menu-item.ingredients__close
								a.ingredients__menu-link
									img(src=require(`@images/png/vegatables/${itemIng.img}`))
	div(class=`${attributes.main}__pizzas`)
		include ../components/pizza/pizza
div(class=`${attributes.main}__sidebar col-lg-1`)
	include ../components/right-sidebar/right-sidebar